<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <style>
    .error {
      color: red;
    }

    table {
      border-collapse: collapse;
    }

    td {
      border: 1px solid black;
      width: 10px;
      height: 10px;
    }
  </style>

  <body>
    <script src="https://unpkg.com/vue@3"></script>

    <div id="todo-list-example">
      <form v-on:submit.prevent="addNewTodo">
        <label for="new-todo">Add a todo</label>
        <input
          v-model="newTodoText"
          id="new-todo"
          placeholder="E.g. Feed the cat"
        />
        <button>Add</button>
      </form>
      <ul>
        <todo-item
          v-for="(todo, index) in todos"
          :key="todo.id"
          :title="todo.title"
          @remove="todos.splice(index, 1)"
        ></todo-item>
      </ul>
    </div>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            newTodoText: "",
            todos: [
              {
                id: 1,
                title: "Do the dishes",
              },
            ],
            nextTodoId: 2,
          };
        },
        methods: {
          addNewTodo() {
            this.todos.push({
              id: this.nextTodoId++,
              title: this.newTodoText,
            });
            this.newTodoText = "";
          },
        },
      });
      app.component("todo-item", {
        template: `
          <li>
            {{ title }}
            <button @click="$emit('remove')">Remove</button>
          </li>
        `,
        props: ["title"],
        emits: ["remove"],
      });
      app.mount("#todo-list-example");
    </script>

    <hr />

    <div id="countPlus">
      <hyo></hyo>
      <hyo></hyo>
    </div>
    <script>
      const countPlus = Vue.createApp({});
      countPlus.component("hyo", {
        template: `
          <div>總數{{count}}</div>
  <button @click="count++">增加</button>
  `,
        data() {
          return {
            count: 0,
          };
        },
      });
      countPlus.mount("#countPlus");
    </script>

    <hr />

    <div id="money">
      <div>台幣 <input type="text" v-model.lazy.number="twd" /></div>
      <div>日幣 <input type="text" v-model.lazy.number="jpy" /></div>
      <div>美元 <input type="text" v-model.lazy.number="usd" /></div>
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            twd: 1000,
          };
        },
        computed: {
          jpy: {
            get() {
              return Number(this.twd) / 0.22;
            },
            set(val) {
              this.twd = Number(val) * 0.22;
            },
          },
          usd: {
            get() {
              return Number(this.twd) * 30;
            },
            set(val) {
              this.twd = Number(val) / 30;
            },
          },
        },
      }).mount("#money");
    </script>

    <hr />

    <div id="radioTest">
      <input v-model="picked" value="1" type="radio" id="one" />
      <label for="one">one</label>
      <input v-model="picked" value="2" type="radio" id="two" />
      <label for="two">two</label> →→→ 現在選的是{{picked}}
      <p v-if="picked=='2'">選到2時出現</p>
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            picked: 1,
          };
        },
      }).mount("#radioTest");
    </script>

    <hr />

    <div id="checkboxTest">
      <input v-model="picked" value="you" type="checkbox" id="one" />
      <label for="one">you</label>
      <input v-model="picked" value="me" type="checkbox" id="two" />
      <label for="two">me</label>
      <input v-model="picked" value="he" type="checkbox" id="three" />
      <label for="three">he</label>
      <input v-model="picked" value="she" type="checkbox" id="four" />
      <label for="four">she</label>
      <p>{{picked}}</p>
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            picked: [],
          };
        },
      }).mount("#checkboxTest");
    </script>

    <hr />

    <div id="selectTest">
      <select v-model="picked" name="" id="selectList">
        <option value="A">A</option>
        <option value="B">B</option>
      </select>
      <p>{{picked||'未選'}}</p>
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            picked: "",
          };
        },
      }).mount("#selectTest");
    </script>

    <!-- <hr />

    <div id="test">
      <div v-text="hyo">{{ya}}</div>
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            hyo: "ho",
            ya: "yaa",
          };
        },
      }).mount("#test");
    </script> -->

    <hr />

    <div id="messageLength">
      <input
        type="text"
        v-model.trim="mes"
        placeholder="請勿超過3個字"
        :class="{ 'error': mes.length > 3 }"
      />
    </div>
    <!-- :style="msgStyle" -->
    <script>
      Vue.createApp({
        data() {
          return {
            mes: "",
          };
        },
        // computed: {
        //   isVaild: function () {
        //     return this.mes.length <= 3;
        //   },
        //   msgStyle: function () {
        //     return {
        //       color: this.isVaild ? "" : "red",
        //     };
        //   },
        // },
      }).mount("#messageLength");
    </script>

    <hr />

    <div id="eventKey">
      <p>你按下的是按鍵是: {{ pressKey }}</p>
      <input type="text" @keyup="press" />
    </div>
    <script>
      const vm = Vue.createApp({
        data: () => {
          return {
            pressKey: "",
          };
        },
        methods: {
          press(event) {
            this.pressKey = event.key;
            window.setTimeout(() => {
              event.target.value = "";
            }, 500);
          },
        },
      }).mount("#eventKey");
    </script>

    <hr />

    <div id="rowCol">
      <form action="" @change="draw">
        列 <input type="text" v-model.lazy.number="rowNum" /> <br />
        欄 <input type="text" v-model.lazy.number="colNum" />
      </form>
      <div v-if="rowNum&&colNum">
        {{tableStart}}
        <div v-for="n in rowNum">
          &emsp;{{rowStart}}
          <div v-for="n in colNum">&emsp;&emsp;{{col}}</div>
          &emsp;{{rowEnd}}
        </div>
        {{tableEnd}}
        <div v-html="drawingTable"></div>
      </div>
    </div>
    <br /><br /><br />
    <script>
      Vue.createApp({
        data() {
          return {
            tableStart: "<table>",
            tableEnd: "</table>",
            rowStart: "<tr>",
            rowEnd: "</tr>",
            col: "<td></td>",
            rowNum: 0,
            colNum: 0,
            drawingTable: "",
          };
        },
        methods: {
          draw: function () {
            this.drawingTable = "";
            this.drawingTable += this.tableStart;
            for (let i = 0; i < this.rowNum; i++) {
              this.drawingTable += this.rowStart;
              for (let j = 0; j < this.colNum; j++) {
                this.drawingTable +='&emsp;';
                this.drawingTable += this.col;
              }
              this.drawingTable += this.rowEnd;
            }
            this.drawingTable += this.tableEnd;
            return this.drawingTable;
          },
        },
      }).mount("#rowCol");
    </script>
  </body>
</html>
