<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3"></script>

    <div id="showNumber">
      <!-- <div v-for="number in showThat">{{number}}</div> -->
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
          };
        },
        computed: {
          showThat() {
            return this.numbers.filter((number) => number % 2 === 0);
          },
        },
      }).mount("#showNumber");
    </script>

    <hr />

    <div id="toDoListTest">
      <input type="text" v-model="toDoItem" />
      <button @click="addToDo()">ADD</button>
      <h3>toDo</h3>
      <ul>
        <li id="toDo" v-for="item in toDoList" :key="item.id">
          <input v-model="item.isDone" type="checkbox" />{{item.title}}
        </li>
      </ul>
      <h3>Done</h3>
      <ul>
        <li id="done" v-for="item in doneList" :key="item.id">
          <input v-model="item.isDone" type="checkbox" />{{item.title}}
        </li>
      </ul>
    </div>
    <script>
      Vue.createApp({
        data() {
          return {
            toDoItem: "",
            list: [
              { id: 1, title: "AAA", isDone: false },
              { id: 2, title: "BBB", isDone: false },
              { id: 3, title: "CCC", isDone: false },
            ],
            nextId: 4,
          };
        },
        computed: {
          toDoList() {
            return this.list.filter((d) => !d.isDone);
          },
          doneList() {
            return this.list.filter((d) => d.isDone);
          },
        },
        methods: {
          addToDo() {
            this.list.push({
              id: this.nextId++,
              title: this.toDoItem,
              isDone: false,
            });
            this.toDoItem = "";
          },
        },
      }).mount("#toDoListTest");
    </script>

    <hr />

    <div id="app">
      {{yoo}}
      <!-- <todoItem></todoItem> -->
    </div>
    <!-- <script type="model" src="./test.js"></script> -->
    <script>
      // import todoItem from './components/hyo.js';
      Vue.createApp({
        components: {
          // todoItem
        },
        data() {
          return {
            yoo: "yoo",
          };
        },
      }).mount("#app");
    </script>

    <hr />

    <div id="propsTest">
      1{{msg}} <br />
      2<hyo v-bind:parent-msg="msg"></hyo><br />
      3<hyo></hyo>
    </div>

    <script>
      const app = Vue.createApp({
        data() {
          return {
            msg: "外部", //外部
          };
        },
      });

      app.component("hyo", {
        template: `
						{{ parentMsg}}  
						{{msg}}         
        `,
        props: ["parentMsg"],
        data() {
          return {
            msg: "內部", //外部
          };
        },
      });
      app.mount("#propsTest");
    </script>

    <hr />

    <div id="bookPropsTest">
      <ul v-for="book in books" class="book">
        <li>{{ book.name }}</li>
        <li>{{ book.author }}</li>
        <li>{{ book.publishedAt }}</li>
      </ul>

      <my-component
        v-for="book in books"
      
        :name="book.name"
        :author="book.author"
        :published-at="book.publishedAt"
      />
      <!-- v-bind="book"   或者不放name那三行，只放這行-->
    </div>

    <script>
      const hyo = Vue.createApp({
        data() {
          return {
            books: [
              {
                name: "0 陷阱！0 誤解！8 天重新認識 JavaScript！",
                author: "Kuro Hsu",
                publishedAt: "2019/09",
              },
              {
                name: "重新認識 Vue.js",
                author: "Kuro Hsu",
                publishedAt: "2021/02",
              },
            ],
          };
        },
      });

      hyo.component("my-component", {
        template: `
  <div class="child-app">
      <div>書名: <input type="text" v-model="name"></div>
      <div>作者: <input type="text" v-model="author"></div>
      <div>出版日: <input type="text" v-model="publishedAt"></div>
  </div>`,
        props: ["name", "author", "published-at"],
      });

      hyo.mount("#bookPropsTest");
    </script>

    <hr />

    <script></script>
  </body>
</html>
