<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3"></script>

    <div id="app">
      <div>{{ message }} <br />{{apple}}</div>

      <div v-if="apple=''"></div>

      <ul>
        <li v-for="(item,index) in arr">{{index+1}}是{{item}}</li>
      </ul>
    </div>

    <script>
      Vue.createApp({
        data() {
          return {
            message: "Hello Vue!",
            apple: "abcd",
            arr: [1, "A", 3],
          };
        },
        mounted: {},
        methods: {},
      }).mount("#app");
    </script>
  </body>
</html>
